body {
    font-family: 'Abel', sans-serif;
    color: #241f21;
    width: 95%;
    margin: auto;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 5px;
    background-color: #ce0033;
    margin: 15px 0;
}

header h1 {
    color: #eff0f2;
}

h1,
h2,
h3 {
    color: #ce0033;
    font-family: 'Big Shoulders Text', cursive;
}

main {
    width: 60%;
    margin: auto;
}

video {
    width: 100%;
    height: auto;
    margin: auto;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
}

nav>ul>li {
    list-style-type: none;
    padding: 0 15px;
    font-size: 1.2em;
}

nav>ul>li>a {
    color: #ce0033;
    text-decoration: none;
}

nav>ul>li>a:hover {
    color: #241f21;
}

.selected {
    text-decoration: underline;
    border-radius: 3px;
}

code {
    /* width: fit-content; */
    white-space: pre-wrap;
    padding: 3px 20px;
    border-radius: 3px;
}

code.hljs {
    padding: 0 20px;
}

.inline-code {
    font-family: monospace;
    color: #e6c07b;
    background-color: #241f21;
    border-radius: 3px;
    padding: 2px 5px;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-field{
    display: flex;
    flex-direction: row;
    width: 45%;
    padding: 5px 5px;
}

input {
    min-width: 300px;
}

label {
    min-width: 100px;
}

table {
    border-collapse: collapse;
    border: solid;
    margin-bottom: 30px;
}

th, td {
    border-collapse: collapse;
    border: solid 1px;
    padding: 2px 10px;
}

@media screen and (max-width: 1024px)
{
    body {
        width: 100%;
    }

    main {
        width: 95%;
        margin: auto;
    }

    header {
        height: 90px;
        margin: 0;
        border-radius: 0;
    }

    nav>ul>li {
        padding: 0 10px 20px;
    }
}

@media screen and (max-width: 560px)
{
    nav>ul {
        flex-direction: column;
    }

    nav>ul>li {
        padding: 10px 5px;
    }
}